// Media Queries
$tablet: 768px;
$mobile: 640px;

//Font

$font-primary: 'Open Sans', sans-serif;
$font-logo: 'Wire One', sans-serif;

// Colors
$turquoise: #316F61;
$gold: #AC884C;
$light-grey: #ccc;

//Color Usage

$font-color--primary: #fff;
$font-color--secondary: $light-grey;
$background-color: #000;
$color-accent: $turquoise;
$color-accent--font: $gold;
