header {
  @extend %flex;
  width: 100%;
  flex-flow: row wrap;
}

nav {
  @extend %flex;
  align-items: flex-start;
  align-items: center;
  flex: 1 100%;
  justify-content: space-around;
  @media screen and(max-width: $tablet) {
    min-height: 100px;
  }
  img {
    margin-right: 15px;
  }
  ul {
    @extend %flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
    @media screen and(max-width: $tablet) {
      display: none;
    }
    li {
      margin: 20px;
      list-style: none;
    }
  }
}

.fa-bars {
  display: none;
  @media screen and(max-width: $tablet) {
    display: block;
    background: #AC884C;
    padding: 20px;
    color: #000;
  }
}

.search-nav {
  align-items: center;
  @extend %flex;
  flex: 1 100%;
  background: #000;
  padding: 10px;
  justify-content: space-between;
  a {
    align-self: flex-end;

  }
}

form {
  @extend %flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  align-self: center;

  @media screen and(max-width: $mobile) {
      flex-direction: column;

    }

  input {
    color: #ccc;
    font-size: .9em;
    background: none;
    border: none;
    padding: 10px 15px 10px 15px;
    border-bottom: 2px solid #316F61;
    &:focus {
      outline: none;
    }
  }
  button {
    font-size: .8em;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px 10px 15px;
    margin-right: 20px;
    background: #316F61;
    color: #ccc;
    @media screen and(max-width: $mobile) {
        margin-right: 0;
        margin-left: 5px;
      }
  }
  select {
    padding-left: 7px;
    border-radius: 0;
    -webkit-appearance: none;
    text-transform: uppercase;
    width: 200px;
    height: 35px;
    background: transparent;
    border: 1px solid #316F61;
    color: #ccc;
    font-size: .9em;
    margin-left: 10px;
  }
}

.sort-field {
  @media screen and(max-width: $mobile) {
    margin-top: 20px;
    select {
      width: 300px;
    }
  }
}
