main {
  @extend %flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  h3 {
    margin: 0;
  }
}

.gallery {
  @extend %flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 2%;
  flex-direction: column;
  display: flex;
  flex: 1 20%;
  max-width: 150px;
  justify-content: center;
  img {
    margin: 5px auto;
    flex: 1 100%
  }
  span {
    display: block;
    font-size: .8em;
  }
  h4 {
    margin: 0;
  }
}

.chevron {
  margin-top: 50px;
  font-size: 2em;
  i {
    margin: 0 50px;
  }
}


h1 {
  font-family: $font-logo;
  font-size: 2.9em;
  font-weight: lighter;
  letter-spacing: .02em;
  margin: 0;
}
.logo-color {
  color: $color-accent--font;
  font-family: $font-logo;
}
