* {
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: 100;
}

body {
  background: $background-color;
  color: $font-color--secondary;
}

a {
  text-decoration: none;
  color: $color-accent--font;
}
